doctype 5

html

  head
    link(href='src/orange.css', rel='stylesheet', type='text/css')
    :stylus
      *
        margin 0
        padding 0
      body
        margin 4em auto
        width 600px
        background-color #eee
      .orange > a
        display inline-block
        font-size 2em
        text-decoration none
        color gray
        background #f3f3f3
        padding 5px 30px 11px 30px
        margin 4px 4px 4px 0
        line-height 1

      h3
        height 300px
        width 100%
        background-color #0098aa
        


  body

    .orange
      a.nav-prev(href='#') &lsaquo;
      a.nav-next(href='#') &rsaquo;
      ol.orange-skin
        li.slice
          h3 1
        li.slice
          h3 2
        li.slice
          h3 3
          
    
    script(src='src/index.js')

    :coffeescript

      window.onerror = (err) -> alert err


      #Slideshow = require 'orange'

      slideshow_container = document.querySelector '.orange'
      slideshow = new Orange slideshow_container

      slideshow_container.querySelector('.nav-next').onclick = ->
        slideshow.next()
        slideshow.stop()

      slideshow_container.querySelector('.nav-prev').onclick = ->
        slideshow.prev()
        slideshow.stop()

          
