.orange
  width 100%
  overflow-x hidden
  box-sizing border-box
  vertical-align top
  position relative

.orange-skin
  display inline-block
  transition left ease-in-out 1s
  left 0%
  position relative
  
  .slice
    box-sizing border-box
    width 100%
    height 100%
    float left
    display inline-block
    position relative