.orange
  width 100%
  overflow-x hidden
  box-sizing border-box
  vertical-align top
  position relative

.orange-skin
  display table
  width 100%
  transition all ease-in-out 1s
  -webkit-transition all ease-in-out 1s
  -moz-transition all ease-in-out 1s
  -ms-transition all ease-in-out 1s
  position relative
  
  .slice
    box-sizing border-box
    -webkit-box-sizing border-box
    -moz-box-sizing border-box
    -ms-box-sizing border-box
    width 100%
    display table-cell
    position relative
